body {
	background-color: #357266;
	text-align: center;
}

header {
	height: 1.5rem;
	width: auto;
}

nav {
	color: white;
}

nav > ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
nav > ul > li {
	list-style: none;
}

a {
	color: #a3bbad;
	background-color: #0e3b43;
	text-decoration: none;
	font-size: 1rem;
	border: #a3bbad;
	border-style: solid;
	border-radius: 10px;
	width: fit-content;
	padding: 8px;
}
/* index main page */
#index {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#basic_game {
	display: flex;
	flex-direction: column;
	margin: 10px 0px;
	height: 250px;
	width: 300px;
	background-color: #65532f;
	border-color: #a3bbad;
	border-style: solid;
	border-radius: 7px;
}

#basic_game h3 {
	margin: 0;
	padding-bottom: 15px;
}

#basic_game h4 {
	margin: 0;
}
h1 {
	text-align: center;
}

#user_input {
	display: flex;
	flex-direction: column;
	margin: 10px 0px;
	height: 250px;
	width: 300px;
	background-color: #65532f;
	border-color: #a3bbad;
	border-style: solid;
	border-radius: 7px;
}

#user_input h4 {
	margin: 0px;
}

#user_input h3 {
	margin: 0;
	padding-bottom: 15px;
}

#how_win {
	display: flex;
	flex-direction: column;
	margin: 10px 0px;
	height: 250px;
	width: 300px;
	background-color: #65532f;
	border-color: #a3bbad;
	border-style: solid;
	border-radius: 7px;
}

#how_win h3 {
	margin: 0;
	padding-bottom: 15px;
}

#how_win ul {
	text-align: center;
}

#how_win ul li {
	width: 200px;
	font-size: 1.2rem;
}

#how_win p {
	margin: 0;
	padding-bottom: 15px;
}

/* Styling for winner/winner_2play and basic pages */
.basic {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.choices {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 2rem;
	margin: 0px;
	height: 80px;
	width: 500px;
	background-color: #65532f;
	border-color: #a3bbad;
	border-style: solid;
	border-radius: 7px;
}

.result {
	display: flex;
	flex-direction: column;
	font-weight: bold;
	font-size: 2rem;
	margin: 10px 0px;
	height: 80px;
	width: 300px;
	background-color: #65532f;
	border-color: #a3bbad;
	border-style: solid;
	border-radius: 7px;
}
/* styling for winner page for basic game */
#basic-comp {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#player_choice {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 2rem;
	margin: 10px 0px;
	height: 60px;
	width: 400px;
	background-color: #65532f;
	border-color: #a3bbad;
	border-style: solid;
	border-radius: 7px;
}

#result_comp {
	display: flex;
	flex-direction: column;
	font-weight: bold;
	font-size: 2rem;
	margin: 10px 0px;
	height: 100px;
	width: 400px;
	background-color: #65532f;
	border-color: #a3bbad;
	border-style: solid;
	border-radius: 7px;
}

/* style for inputs computer and 2player */
.comp {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.comp_display {
	display: flex;
	flex-direction: column;
	margin: 10px 0px;
	height: 250px;
	width: 400px;
	background-color: #65532f;
	border-color: #a3bbad;
	border-style: solid;
	border-radius: 7px;
	font-size: 1.4rem;
}

#player1_form {
	display: flex;
	flex-direction: column;
	justify-items: center;
	margin: 0 10px 10px 10px;
}

.player_name {
	padding: 10px;
	margin: 0 10px 10px 10px;
	font-size: 1.4rem;
	text-align: center;
	border-radius: 10px;
}

.dropdown {
	padding: 10px;
	margin: 0 10px 10px 10px;
	font-size: 1.4rem;
	text-align: center;
	border-radius: 10px;
}

.button {
	background-color: #a3bbad;
	font-size: 1.4rem;
	font-weight: bold;
	border-radius: 10px;
	padding: 10px;
	margin: 20px 10px 10px 10px;
}

/* style for 2 player page */
#two_display {
	display: flex;
	flex-direction: column;
	margin: 10px 0px;
	height: 370px;
	width: 400px;
	background-color: #65532f;
	border-color: #a3bbad;
	border-style: solid;
	border-radius: 7px;
	font-size: 1.4rem;
}
