{% extends 'base.html' %} {% block index %}
<h1>{{ title }}</h1>
<div>
	<h2>Game Instructions</h2>
	<h4>
		<b><u>Player Vs Player</u></b>
	</h4>
	<p>
		Enter player choices in the address bar in the following format
		http//127.0.0.1:5000/p1choice/p2-choice
	</p>
	<h4>
		<b><u>Player Vs Computer</u></b>
	</h4>
	<p>
		Enter player choice in the address bar in the following format
		http//127.0.0.1:5000/Computer/p-choice
	</p>
	<p>Based on the following rules a winner will be declared.</p>
	<ul>
		<li>Rock beats Scissors</li>
		<li>Paper beats Rock</li>
		<li>Scissors beats Paper</li>
	</ul>
	<form action="/play">
		<button>Play</button>
	</form>
</div>

{% endblock %}
