{% extends 'base.html' %} {% block play %}

<h1>{{ title }}</h1>
<div class="comp">
	<h2>Player Vs Computer</h2>
	<div class="comp_display">
		<p>
			Player will enter their name and select an option from the drop-down
			menu, then hit <b>See Winner</b> button
		</p>
		<form id="player1_form" action="/play" method="post">
			<input
				class="player_name"
				type="text"
				name="p1-name"
				id="input-p1-name"
				placeholder="Player Name"
			/>

			<select class="dropdown" name="p1-choice" id="input-p1-choice">
				<option value="">Select from the below choices:</option>
				<option value="rock">Rock</option>
				<option value="paper">Paper</option>
				<option value="scissors">Scissors</option>
			</select>
			<button class="button" type="submit">See Winner</button>
		</form>
	</div>
</div>
{% endblock %}
